html
    margin: 0
    padding: 0
    height: 100%

body
    margin: 0
    padding: 0
    height: 100%

h1, h2, h3, h4,
    font-family: 'Roboto', sans-serif

a, p
    font-family: 'Open Sans', sans-serif

a
    text-decoration: none

.desktopNav
    display: none

.mobileNav
    position: absolute
    width: 100%

    #mobileBurger
        position: absolute
        right: 0
        display: flex
        align-items: center
        justify-content: center
        height: 50px
        width: 50px
        padding: 15px 15px
        cursor: pointer

        span,
        span:before,
        span:after
            content: ""
            display: block
            background-color: white
            height: 3px
            width: 30px
            position: relative
            transition: all 0.3s ease-in-out

        span:before
            top: 10px

        span:after
            top: -13px

        &.isOpen span
            background: transparent

        &.isOpen span:before,
        &.isOpen span:after
            transform-origin: center
            transform: rotate(45deg)
            top: 0

        &.isOpen span:after
            transform: rotate(-45deg)
            top: -3px

    .mobileLogo

        img
            position: absolute
            width: 100px
            left: 20px
            top: 10px
            z-index: 5

    ul
        display: none
        width: 100%
        height: 100vh
        background-color: rgba(33, 33, 33, 0.8)
        margin: 0
        padding: 0
        position: absolute
        right: 20px
        padding-top: 50px

        li
            display: inline-block

            a
                text-decoration: none
                color: white

@media (min-width: 768px)
    .mobileNav
        display: none

    .desktopNav
        display: block

        .logo
            position: absolute
            top: 20px
            left: 15%
            height: 50px
            display: flex
            align-items: center

            h1
                margin: 0


                img
                    width: 200px

        ul
            position: absolute
            margin: 0
            padding: 0
            top: 20px
            right: 15%
            display: flex
            justify-content: center
            align-items: center
            height: 50px

            li
                display: inline-block
                padding: 0 10px

                a
                    text-decoration: none
                    color: white
                    font-weight: 400
                    padding-bottom: 5px

                    &:hover
                        border-bottom: 2px solid white
