#hero
    background-image: url(/img/hero-01.png)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    height: 80vh

    .heroWrapper
        height: 65vh
        display: flex
        // justify-content: center
        align-items: center
        flex-direction: column
        padding: 0 20px

        .mobileHero

            .logo

                h1
                    margin: 0

                    img
                        width: 200px
                        padding-top: 100px

        .desktopHero
            display: none

        h2
            text-align: center
            color: white
            max-width: 800px
            font-size: 20px

            a
                color: white
                text-decoration: underline

                &:hover
                    opacity: 0.8

        button
            color: white
            background: none
            border: 2px solid white
            border-radius: 2px
            box-sizing: border-box
            padding: 8px 35px
            cursor: pointer
            font-family: 'Roboto', sans-serif
            font-weight: 600

            &:hover
                color: $grey
                background-color: white

    .scrollDown
        display: none
        color: white
        position: absolute
        left: 50%
        bottom: 25%
        transform: translate(-50%)

.arrowWrapper
    width: 100%
    display: flex
    position: relative
    overflow: hidden
    margin: 0
    padding: 0
    box-sizing: border-box

    .arrowUp
        display: block
        box-sizing: border-box
        border-style: solid
        border-color: transparent transparent transparent white
        border-width: 15vh 0 0 50vw
        margin: 0
        padding: 0

    .arrowUpTwo
        width: 0
        height: 0
        border-style: solid
        box-sizing: border-box
        margin: 0
        padding: 0
        border-width: 0 0 15vh 50vw
        border-color: transparent transparent #ffffff transparent

.arrowDown
    display: block
    box-sizing: border-box
    width: 0
    height: 0
    border-style: solid
    border-width: 15vh 50vw 0 50vw
    border-color: #ffffff transparent transparent transparent

@media (min-width: 768px)
    #hero .heroWrapper
        justify-content: center

        h2
            font-size: 26px


    #hero .heroWrapper .mobileHero
        display: none
